# 모든 파일과 디렉터리를 기본적으로 무시
*

# 디렉터리 탐색 허용
!/.config/
!/apps/
!/assets/
!/data/
!/modules/
!/scripts/

# 파일 탐색 허용
!.gitattributes
!.gitignore
!README.md

# vim 스왑 파일 (vim 편집 중 자동 생성, 형상관리 불필요)
.*.swp
.*.swo
.*.swn
